html {
	line-height: 1.25rem;
}

#logo {
	display: flex;
	margin: auto;
	height: 6rem;
}

/* main text */
body {
	background: url("../images/background.png") center center fixed;
	background-size: cover;
	font-family: Impact, Haettenshweiler, sans-serif;
}

h2 {
	font-size: 2rem;
	padding: 1.5rem;
}

h3 {
	font-size: 1.625rem;
	text-align: center;
	padding-top: 25px;
}

p {
	font-size: 1.125rem;
}

/* form */
form {
	box-sizing: border-box;
	margin: auto;
	max-width: 400px;
	padding: 5px;
	background: #ed905a;
	border: 3px dashed black;
	border-radius: 5px;
}

label {
	font-size: 1.325rem;
	display: block;
	text-align: center;
	padding: 3px;
}

input, select, button {
	width: 97%;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}

/* main body*/
#main {
	border: 3px dashed black;
	background: #ed905a;
	padding: 5px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 800px;
}

#main ul {
	list-style-image: url('../images/pokeball.gif');
	padding-left: 30px;
	padding-bottom: 25px;
}