html {
	line-height: 1.25rem;
}

img {
	display: flex;
	margin: auto;
	height: 6rem;
}

/* main text */
body {
	font-family: Impact, Haettenshweiler, sans-serif;
	background-color: rgb(255, 153, 153);
}

h2 {
	font-size: 2rem;
	padding: 1.5rem;
}

h3 {
	font-size: 1.625rem;
}

p {
	font-size: 1.125rem;
}

/* form */
form {
	box-sizing: border-box;
	margin: auto;
	max-width: 400px;
	padding: 5px;
}

